@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@font-face {
  font-family: "custom-font";
  src: url(/fonts/custom/CustomFont-Book.woff2) format("woff2"),
    url(/fonts/custom/CustomFont-Book.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "custom-font";
  src: url(/fonts/custom/CustomFont-Medium.woff2) format("woff2"),
    url(/fonts/custom/CustomFont-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

/*
  Typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  font-weight: normal !important;
}

h1,
h2 {
  line-height: 1.2 !important;
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 2.2rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.8rem !important;
  }
}

@media only screen and (max-width: 520px) {
  h1 {
    font-size: 1.8rem !important;
  }
  h2 {
    font-size: 1.6rem !important;
  }
}

.sbui-typography > pre {
  @apply border dark:border-gray-600;
}

.sbui-border-fix select {
  @apply border-solid;
  border-width: 1px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* table of contents */

.toc h5 {
  @apply font-normal text-xs text-gray-300 dark:text-gray-400;
}

.toc li {
  @apply font-normal text-sm mb-2 text-gray-400 hover:text-gray-500 dark:text-gray-300  dark:hover:text-gray-200;
}

.toc li a {
  @apply border-b border-transparent;
}

.toc li a:hover {
  @apply border-b border-gray-600 dark:border-gray-100;
}

/* Links */

.ext-link {
  @apply cursor-pointer text-sm text-gray-300 hover:text-gray-400 dark:text-gray-400 dark:hover:text-white flex items-center space-x-1;
}

.PropsTable__Property span {
  @apply bg-gray-100 dark:bg-gray-600 px-1;
}

th {
  @apply font-normal dark:text-gray-400;
}

.sbui-typography-container tbody tr,
.sbui-typography-container tr {
  @apply border-b dark:border-gray-600;
  /* border-bottom-color: #e0e0e0; */
}
